.form {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  width: 567px;
}

.container {
  column-gap: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 48px auto 0;
  max-width: 944px;
  row-gap: 78px;
}

.input {
  flex-basis: 377px;
}

.button {
  flex-grow: 1;
}
